<div class="main-con-item">
    <p>
        <b>回复内容</b>(必填，请输入回复的电子消息正文，)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="reply_content">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>邮件消息对象</b>(必填，邮件消息对象可通过获取邮件消息组件生成变量，可集合回复，也可以单个回复，如集合t1或者单个t1[0]，)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="reply_account">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>添加附件：</b>（选填，选择附件文件的路径，如果有多个以英文符号;隔开即可，）
    </p>
    <button type="button" onclick="accept_file_path.click();">点击选择文件</button>
        <div class="input-box">
            <input type="text" class="form-control" id="accept_file" name="accept_file" placeholder="选择要读取的文件" />
            <ul class="common-list parameters-can-select"></ul>
            <i class="xiala-icon parameters"></i>
            <i class="toggleType"></i>
            <input type="file" id="accept_file_path" class="hideFile" 
                   onchange="this.value==''?accept_file.value=accept_file.value:accept_file.value=gePathVal(this,true)" />
        </div>
    <p>
        <b>是否全部回复</b>（选填，默认为否，只回复收件人，全部则回复邮件所有相关人员，）
    </p>
    <div class="input-box">
        <p class="radio-item">
            <label>
                <input type="radio" name="reply_all_flag" value="no" checked>否
            </label>
            <label>
                <input type="radio" name="reply_all_flag" value="yes">是
            </label>
        </p>
    </div>
</div>

<input type="hidden" class="item-type" name="outlook_reply">
