<div class="main-con-item">
    <p>
        <b>邮箱账号</b>(必填，请输入待移动邮件消息的账号，)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="outlook_name">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>邮件文件夹名称</b>(必填，请输入邮件消息移向的文件夹，)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="file_name">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>邮件消息对象</b>(必填，邮件消息对象可通过获取邮件消息组件生成变量，可集合回复，也可以单个回复，如集合t1或者单个t1[0]，)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="move_mail">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
</div>

<input type="hidden" class="item-type" name="outlook_move">
