<div class="main-con-item">
    <button type="button" class="capture">捕获页面元素</button>
    <p>
        <b>元素路径</b>(必填，xpath)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="xpath">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>填入内容</b>(选填，需要填入的内容)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="text">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <div class="main-con-item">
        <p>
            <b>选择浏览器变量</b>(选填，输入要操作的浏览器变量名，)
            <b>：</b>
        </p>
        <div class="input-box">
            <input type="text" name="browser_name">
            <ul class="common-list parameters-can-select"></ul>
            <i class="toggleType"></i>
            <i class="xiala-icon parameters"></i>
        </div>
    </div>
</div>

<input type="hidden" class="item-type" name="input_browser">
<div class="liucheng-item-tips">
    <!-- <p class="in-parameter" title=""><i class="icon-tips-in"></i><em>：</em>"<b class="font-in-paramter in-paramter-input"></b><b class="user-input-text tips-input"></b>","<b class="font-in-paramter-type">String</b>"</p> -->
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>在捕获到的页面元素中输入所填入的内容1</p>
    <!-- <p class="dom-active-dec" title=""><i class="icon-zanwei"></i><em class="font-zanwei">：</em>在选中输入框中输入<b class="tips-input"></b></p> -->
    <!-- <p class="in-parameter" title=""><i class="icon-tips-out"></i><em>：</em>"<b class="tips-input"></b>"</p> -->
</div>