<div class="main-con-item">
    <div class="input-box">
        <p>
            <b>变量名：</b>
        </p>
        <div class="func-params">
            <div class="input-box">
                <input type="text" name="paramName">
                <ul class="common-list parameters-can-select"></ul>
                <i class="xiala-icon parameters"></i>
                <i class="toggleType"></i>
            </div>
        </div>
        <p>
            <b>转换函数：</b>
        </p>
        <div class="input-box">
            <input type="text" name="functionName" readonly>
            <!-- <ul class="common-list"></ul> -->
            <i class="xiala-icon robot-list" data="functionList"></i>
            <i class="toggleType"></i>
        </div>

        <p>
            <b>输出变量命名：</b>
        </p>
        <div class="input-box">
            <input type="text" name="rename">
        </div>
        <input type="hidden" class="item-type" name="callFunction">
        <!-- <i class="toggleType"></i> -->
    </div>
</div>
<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="font-in-paramter in-paramter-paramName"></b>
        <b class="user-input-text tips-paramName"></b>","
        <b class="font-in-paramter-type">String</b>","
        <b class="font-in-paramter in-paramter-regexValue"></b>
        <b class="user-input-text tips-regexValue"></b>","
        <b class="font-in-paramter-type">String</b>"</p>
    <!-- <p class="dom-active-dec" title=""><i></i><em>：</em>变量名："<b class="font-in-paramter in-paramter-paramName"></b><b class="user-input-text tips-paramName"></b>","<b class="font-in-paramter-type">String</b>",正则表达式："<b class="font-in-paramter in-paramter-regexValue"></b>
<b class="user-input-text tips-regexValue"></b>","<b class="font-in-paramter-type">String</b>"</p> -->
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>将输入的变量使用输入的正则表达式进行转化，生成新变量，并输出新变量</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">Array</b>"</p>
</div>