<div class="main-con-item">
    <p>
        <b>输出变量命名：</b>
        <input type="checkbox" name="isFormat" checked>是否保留原格式
    </p>
    <div class="input-box">
        <div class="func-params">
            <input type="text" name="rename" placeholder="将剪贴板内容设为变量">
        </div>
    </div>
    <input type="hidden" class="item-type" name="paramsPaste">
</div>
<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>将剪切板设为变量</p>
</div>