<div class="main-con-item">
    <p>
        <b>变量名：</b>
    </p>
    <div class="input-box">
        <!-- <p><b>变量名：</b></p>
<input type="text" name="paramName"> -->
        <input type="text" name="paramValue" mustReadonly='true' readonly>
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <p>
        <b>输出变量命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
        <i class="toggleType"></i>
    </div>
    <input type="hidden" class="item-type" name="backGlobalParam">
</div>
<div class="liucheng-item-tips">
    <!-- <p class="in-parameter" title=""><i class="icon-tips-in"></i><em>：</em>"<b class="user-input-text tips-paramName"></b>","<b class="font-in-paramter-type">String</b>"</p>
<p class="dom-active-dec" title=""><i></i><em>：</em>变量名："<b class="user-input-text tips-paramName"></b>","<b class="font-in-paramter-type">String</b>"</p> -->
    <!-- <p class="dom-active-dec" title=""><i class="icon-zanwei"></i><em class="font-zanwei">：</em>新建变量："<b class="font-out-paramter"></b>","<b class="font-out-paramter-type">String</b>"</p> -->
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>新建变量，并输出新变量</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">String</b>"</p>
</div>