<div class="main-con-item">
    <p>
        <b>变量名：</b>
    </p>
    <div class="input-box">
        <div class="func-params">
            <div class="input-box">
                <input type="text" name="paramName" readonly>
                <ul class="common-list parameters-can-select"></ul>
                <i class="xiala-icon parameters"></i>
                <i class="toggleType"></i>
            </div>
        </div>
    </div>
    <input type="hidden" class="item-type" name="paramsCopy">
</div>
<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>将变量复制到剪切板</p>
</div>