<div class="main-con-item">
    <div class="input-box">
        <p>
            <b>账号类别：</b>
        </p>
        <p class="radio-item">
            <label>
                <input type="radio" name="operator" value="0" checked>测试账号
            </label>
            <label>
                <input type="radio" name="operator" value="1">真实账号
            </label>
        </p>
        <p>
            <b>用户名：</b>
        </p>
        <input type="text" name="usernameValue">
        <p>
            <b>密码：</b>
        </p>
        <input type="text" name="pwdValue">
        <p>
            <b>输出账号变量命名：</b>
        </p>
        <input type="text" name="rename">
        <input type="hidden" class="item-type" name="saveAccount">
        <i class="toggleType"></i>
    </div>
</div>
<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>新建账号，并输出帐号</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">String</b>"</p>
</div>