<div class="main-con-item">
    <p>
        <b>变量一：</b>
    </p>
    <div class="input-box">
        <input type="text" name="param1">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <p>
        <b>变量二：</b>
    </p>
    <div class="input-box">
        <input type="text" name="param2">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <p>
        <b>运算符：</b>
    </p>
    <div class="input-box">
        <p class="radio-item">
            <label>
                <input type="radio" name="operator" value="+" checked>+</label>
            <label>
                <input type="radio" name="operator" value="-">-</label>
            <label>
                <input type="radio" name="operator" value="mult">x</label>
            <label>
                <input type="radio" name="operator" value="÷">÷</label>
            <label>
                <input type="radio" name="operator" value="mo">取余</label>
        </p>
    </div>
    <p>
        <b>输出变量命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="calculateParam">
    <!-- <i class="toggleType"></i> -->

</div>
<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="font-in-paramter in-paramter-param1"></b>
        <b class="user-input-text tips-param1"></b>","
        <b class="font-in-paramter-type">Any</b>","
        <b class="font-in-paramter in-paramter-param2"></b>
        <b class="user-input-text tips-param2"></b>","
        <b class="font-in-paramter-type">Any</b>"</p>
    <!-- <p class="dom-active-dec" title=""><i></i><em>：</em>输入变量1输入变量2："<b class="font-in-paramter in-paramter-param2"></b><b class="user-input-text tips-param2"></b>","
<b class="font-in-paramter-type">Any</b>"</p> -->
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>将变量1和变量2进行"
        <b class="user-input-text tips-radio"></b>"操作，生成新变量，并输出新变量</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type"></b>"</p>
</div>