<div class="main-con-item">
    <div class="input-box">
        <p>
            <b>选择转换方式</b>
            <b>：</b>
        </p>
        <p class="radio-item">
            <label>
                <input type="radio" name="type" value="numTozh" checked>阿拉伯数字转中文数字
            </label>
            <label>
                <input type="radio" name="type" value="zhTonum">中文数字转阿拉伯数字
            </label>
        </p>
    </div>

    <p>
        <b>变量值：</b>
    </p>
    <div class="input-box">

        <input type="text" name="paramValue">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>

    </div>
    <p>
        <b>输出变量命名：</b>
    </p>
    <div class="input-box">
    <input type="text" name="rename">
    </div>

    <input type="hidden" class="item-type" name="numTrans">
</div>
<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>中文数字阿拉伯数字互转</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">String</b>"</p>
</div>