<div class="main-con-item">
    <div class="input-box">

        <p>
            <b>待分割字符串：</b>
        </p>
        <div class="input-box">
            <input type="text" name="strObject">
            <ul class="common-list parameters-can-select"></ul>
            <i class="xiala-icon parameters"></i>
            <i class="toggleType"></i>
        </div>
    </div>
    <div class="input-box">
        <p>
            <b>分割符：</b>
        </p>
        <input type="text" name="separator">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <div class="input-box">
        <p>
            <b>输出数组命名：</b>
        </p>
        <input type="text" name="rename">
    </div>

    <input type="hidden" class="item-type" name="strSplit">
    <!-- <i class="toggleType"></i> -->

</div>


<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>分割字符串：</p>
</div>