.main-con-item>p {
    font-size: 14px;
}

.main-con-item>p>b {
    margin: 8px;
    font-size: 14px;
}

.main-box ::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    position: absolute;
}

.left-menu ::-webkit-scrollbar {
    width: 0;
}

.no_shake {
    position: relative;
    width: 206px;
    height: calc(100% - 52px);
}

.main-box .main-left .left-menu>li .menu-icon-xiala {
    right: 15px!important;
}


/* .left-menu {
    padding-left: calc(206px - 100%);
} */

.child-menu {
    display: block!important;
}

.child-menu-operate {
    display: none;
}

.cover-box {
    opacity: 0;
}

.cover-box .cover-alert {
    height: auto;
    margin: 0px;
}

.cover-box-foot {
    margin-bottom: 20px;
    bottom: 0px;
}

.cover-box .cover-box-main .main-con-item .input-box {
    margin-top: 20px;
    border-top: 0px solid #ccc;
}

.cover-box button {
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


/* .cover-box .capture {
    width: auto;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    background: #8de664;
} */

.cover-box .capture {
    padding-left: 40px;
    padding-right: 14px;
    width: auto;
    height: 34px;
    position: relative;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    background: #719dce;
    border-radius: 16px;
    box-shadow: 0 0 6px rgba(39, 90, 35, .5);
}

button.capture:before {
    position: absolute;
    display: block;
    content: " ";
    width: 20px;
    height: 22px;
    top: 6px;
    left: 12px;
    background: url(../img/icon-smallhand.png);
}

.cover-box input[name='verificationText'] {
    display: inline-block;
    height: 26px;
    min-width: 200px;
}

.cover-box button {
    width: auto;
    height: 32px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    background: #135eff;
}

.cover-box .cover-box-main .main-con-item .input-box input[type='radio'] {
    display: inline;
    width: 20px;
    height: 13px;
}

.cover-box .cover-box-main .main-con-item .input-box .radio-item {
    display: flex;
    justify-content: space-around;
}
.cover-box .cover-box-main .main-con-item .input-box .radio-item-inline {
    display: inline-flex;
    /* justify-content: space-around; */
}

.cover-box .cover-box-main .main-con-item .input-box .radio-box-top {
    top: -13px;
    left: 89px;
}

.cover-box .cover-box-main .main-con-item .input-box .radio-item span {
    /* margin-left: 65px; */
    vertical-align: top;
    text-align: center;
}

.cover-box .cover-box-main .main-con-item .input-box textarea {
    margin: 0;
    padding: 0;
    padding: 5px 20px 5px 20px;
    width: 570px;
    height: 100px;
    border: none;
    resize: none;
    box-sizing: border-box;
}

.cover-box .goon {
    position: absolute;
    right: 15px;
    color: #4e6c8e;
    font-size: 12px;
}

.cover-box .parameters+ul,
.cover-box .robot-list+ul {
    /* position: absolute; */
    display: none;
    width: 570px;
    border-top: 1px solid #ccc;
    z-index: 99999;
}

.cover-box .parameters+ul li,
.cover-box .robot-list+ul li {
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #fff;
    font-size: 13px;
    color: #666;
    cursor: pointer;
}

.cover-box .parameters+ul li:hover,
.cover-box .robot-list+ul li:hover {
    background: #53b542;
    color: white;
    cursor: pointer;
}

.cover-box [name="if"]+div+.main-con-item i {
    top: 0px!important;
}

[name="for"]+.main-con-item i {
    top: 0px!important;
}

[name="hashfor"]+.main-con-item i {
    top: 0px!important;
}

.cover-box .toggleType {
    width: 32px;
    height: 32px;
    background: url(../img/icon-close-xiao-13px-bai.png) no-repeat center;
    cursor: pointer;
    right: 1px;
    position: absolute;
    bottom: 0;
    display: none;
}

.cover-box .cover-box-main .main-con-item .i-top-0 .toggleType,
.cover-box .cover-box-main .main-con-item .i-top-0 .xiala-icon {
    top: 0;
}

.tool {
    display: none;
    width: 53px;
    height: 42px;
    text-align: center;
    position: absolute;
    top: 50px;
    right:calc(100% - 770px);
    /* border-radius: 5px; */
    /* background: #53b542; */
    z-index: 99;
    cursor: pointer;
}

.tool:hover {
    background: url("../img/bg-buhuoItem.png") no-repeat center;
}

.tool>i {
    position: absolute;
    top: 5px;
    left: 4px;
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 11px #b7aeae;
    /* border: 1px solid red; */
}

.tool>i.diy-icon-menu1-4 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -484px;
}

.tool>i.diy-icon-menu1-5 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -545px;
}

.tool>i.diy-icon-menu1-6 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px 0px;
}

.tool>i.diy-icon-menu1-7 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -61px;
}

.tool>i.diy-icon-menu1-8 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -121px;
}

.tool>i.diy-icon-menu1-9 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -187px;
}

.tool>i.diy-icon-menu1-10 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -242px;
}

.tool>i.diy-icon-menu1-11 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -303px;
}

.tool .tool-icon.diy-icon-menu1-12 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -363px;
}

.tool .tool-icon.diy-icon-menu1-13 {
    background: url("../img/icon-list-buhuo.png") no-repeat 0px -424px;
}

.tool button {
    display: inline-block;
    width: 60px;
    height: 32px;
    text-align: center;
    border-radius: 16px;
    line-height: 30px;
    border: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.tool .title {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 7px;
    color: white;
}

.tool .tomax {
    display: block;
    position: absolute;
    top: 0px;
    left: 40px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(../img/icon-fff.png) no-repeat center;
}

.tool .close {
    display: block;
    position: absolute;
    top: 0px;
    left: 64px;
    width: 32px;
    height: 32px;
    background: url(../img/icon-close-xiao-13px-bai.png) no-repeat center;
    cursor: pointer;
}

.liucheng-list .liucheng-operate-data {
    display: none!important;
}

.button {
    position: absolute;
    display: inline-block;
    padding: 6px 14px;
    color: #fff;
    background: #2ECC71;
    text-align: center;
    z-index: 11;
    border-radius: 15px;
    cursor: pointer;
}

.hideFile {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
}

.cover-box .cover-box-main .main-con-item .if-else-item-mid ul {
    /* position: absolute; */
    display: none;
    width: 100%;
    border-top: 1px solid #ccc;
}

.if-else-item-left,
.if-else-item-mid,
.if-else-item-right {
    width: 30%!important;
    display: inline-block;
}

.if-else-item-left>input,
.if-else-item-mid>input,
.if-else-item-right>input {
    width: 100%!important;
}

.cover-box .cover-box-main .main-con-item .if-else-item-mid ul li,
.data_import .cover-box-main .main-con-item .if-else-item-mid ul li,
.data_io .cover-box-main .main-con-item .if-else-item-mid ul li,
.annotation-box .cover-box-main .main-con-item .if-else-item-mid ul li {
    display: block;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    /* background: #fff; */
    font-size: 13px;
    cursor: pointer;
}
.main-left,.main-right,.main-botttpm{
    transition:height .3s ;
}


/*
添加 隐藏 的webview样式*/
.webview-hide{
    opacity: 0!important;
    height: 0!important;
    width: 0!important;
    z-index: -1!important;
}



.ul-hide{
    opacity: 0!important;
    height: 0!important;
    width: 0!important;
    z-index: -1!important;
}



html,body{ 
     -webkit-user-select:none;
     -moz-user-select:none;
      -ms-user-select:none; 
      user-select:none;
    }


.toggle-fullPage{
    height: 0px!important;
    overflow: hidden;
    }
 .toggle-fullPage+.page-jump{   
     height:31px!important;
     overflow: hidden;
 }
  .toggle-fullPage+.page-jump+.main-botttpm{ 
      height:calc(100% - 31px)!important;
  }
  .toggle-fullPage+.page-jump >.toggle-webview-box{
      display: none;
  }

  .hide-everything{
      opacity: 0!important;
      width: 0px!important;
      height: 0px!important;
      overflow: hidden!important;
      display: inline-block!important;
      position: absolute !important;
  }