.main-box .main-left .left-menu > li .menu-icon-1 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px 5px;
}
.main-box .main-left .left-menu > li .menu-icon-2 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -34px;
}
.main-box .main-left .left-menu > li .menu-icon-3 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -74px;
}
.main-box .main-left .left-menu > li .menu-icon-4 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -113px;
}
.main-box .main-left .left-menu > li .menu-icon-5 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -153px;
}
.main-box .main-left .left-menu > li .menu-icon-6 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -187px;
}
.main-box .main-left .left-menu > li .menu-icon-7 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -221px;
}
.main-box .main-left .left-menu > li .menu-icon-8 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -113px;
}
.main-box .main-left .left-menu > li .menu-icon-9 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -153px;
}
.main-box .main-left .left-menu > li .menu-icon-10 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -187px;
}
.main-box .main-left .left-menu > li .menu-icon-11 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -221px;
}
.main-box .main-left .left-menu > li .menu-icon-12 {
  background: url("../img/icon-menu-waibujiekou.png") no-repeat center;
}
.main-box .main-left .left-menu > li .menu-icon-13 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -153px;
}
.main-box .main-left .left-menu > li .menu-icon-14 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -187px;
}
.main-box .main-left .left-menu > li .menu-icon-15 {
  background: url("../img/icon-main-menu-left.png") no-repeat 0px -221px;
}
.main-box .main-left .left-menu > li .menu-icon-16 {
  background: url("../img/icon-menu-waibujiekou.png") no-repeat center;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-1 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px 0px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-2 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -437px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-3 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -476px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-4 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -513px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-5 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -548px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-6 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -79px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-7 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -119px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-8 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -200px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-9 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -240px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-10 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -281px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-11 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -320px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-12 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -360px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-13 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -400px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-14 {
  background: url('../img/icon-menu/icons-menu-liulanqi-add.png') no-repeat -79px -40px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu1-15 {
  background: url('../img/icon-menu/icons-menu-liulanqi-add.png') no-repeat -81px -1px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu2-1 {
  background: url('../img/icon-menu/icon-left-menu-2.png') no-repeat -75px -35px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu2-2 {
  background: url('../img/icon-menu/icon-left-menu-2.png') no-repeat -75px -72px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-1 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -81px 0px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-2 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -79px -38px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-3 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -73px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-4 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -110px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-5 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -79px -146px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-6 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -184px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-7 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -80px -37px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-8 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -80px -1px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu3-9 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -79px -70px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu4-1 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -84px 0px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu4-2 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -83px -36px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu4-3 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -84px -74px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu5-1 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -83px 0px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu5-2 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -80px -37px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu5-3 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -84px -74px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu5-4 {
  background: url('../img/icon-menu/icons-menu-luojiliucheng-add.png') no-repeat -80px -1px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu6-1 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -90px -38px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu6-2 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -90px 0px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu6-3 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -114px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu6-4 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -151px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu6-5 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -76px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu7-1 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px 0px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu7-2 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px -44px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu7-3 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px -86px;
}
.main-box .main-left .left-menu > li .child-menu li:hover span.child-menu-title .diy-icon-menu8-1 {
  background: url('../img/icon-menu/icons-menu-waibujiekou-add.png') no-repeat -72px -1px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-1 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px 0px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-2 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -437px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-3 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -476px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-4 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -513px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-5 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -548px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-6 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -79px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-7 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -119px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-8 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -200px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-9 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -240px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-10 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -281px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-11 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -320px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-12 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -360px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-13 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -44px -400px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-14 {
  background: url('../img/icon-menu/icons-menu-liulanqi-add.png') no-repeat -44px -40px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu1-15 {
  background: url('../img/icon-menu/icons-menu-liulanqi-add.png') no-repeat -43px -1px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu2-1 {
  background: url('../img/icon-menu/icon-left-menu-2.png') no-repeat -43px -35px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu2-2 {
  background: url('../img/icon-menu/icon-left-menu-2.png') no-repeat -43px -72px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-1 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -45px 0px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-2 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -45px -37px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-3 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -45px -73px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-4 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -45px -110px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-5 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -45px -146px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-6 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -45px -184px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-7 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -48px -37px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-8 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -48px -1px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu3-9 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -48px -70px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu4-1 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -45px 0px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu4-2 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -44px -36px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu4-3 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -45px -74px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu5-1 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -45px 0px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu5-2 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -44px -37px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu5-3 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -45px -74px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu5-4 {
  background: url('../img/icon-menu/icons-menu-luojiliucheng-add.png') no-repeat -46px -1px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu6-1 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -54px -38px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu6-2 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -54px 0px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu6-3 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -54px -114px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu6-4 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -54px -151px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu6-5 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -54px -76px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu7-1 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -44px 0px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu7-2 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -44px -44px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu7-3 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -44px -86px;
}
.main-box .main-left .left-menu > li span.child-menu-title .diy-icon-menu8-1 {
  background: url('../img/icon-menu/icons-menu-waibujiekou-add.png') no-repeat -37px -1px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-1 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px 0px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-2 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -437px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-3 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -476px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-4 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -513px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-5 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -548px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-6 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -79px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-7 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -119px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-8 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -200px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-9 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -240px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-10 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -281px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-11 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -320px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-12 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -360px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-13 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -400px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-14 {
  background: url('../img/icon-menu/icons-menu-liulanqi-add.png') no-repeat -79px -40px;
}
.main-box .main-right .liucheng-box .diy-icon-menu1-15 {
  background: url('../img/icon-menu/icons-menu-liulanqi-add.png') no-repeat -81px -1px;
}
.main-box .main-right .liucheng-box .diy-icon-menu2-1 {
  background: url('../img/icon-menu/icon-left-menu-2.png') no-repeat -75px -35px;
}
.main-box .main-right .liucheng-box .diy-icon-menu2-2 {
  background: url('../img/icon-menu/icon-left-menu-2.png') no-repeat -75px -72px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-1 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -81px 0px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-2 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -79px -38px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-3 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -73px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-4 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -110px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-5 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -79px -146px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-6 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -184px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-7 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -80px -37px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-8 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -80px -1px;
}
.main-box .main-right .liucheng-box .diy-icon-menu3-9 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -79px -70px;
}
.main-box .main-right .liucheng-box .diy-icon-menu4-1 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -84px 0px;
}
.main-box .main-right .liucheng-box .diy-icon-menu4-2 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -83px -36px;
}
.main-box .main-right .liucheng-box .diy-icon-menu4-3 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -84px -74px;
}
.main-box .main-right .liucheng-box .diy-icon-menu5-1 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -83px 0px;
}
.main-box .main-right .liucheng-box .diy-icon-menu5-2 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -80px -37px;
}
.main-box .main-right .liucheng-box .diy-icon-menu5-3 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -84px -74px;
}
.main-box .main-right .liucheng-box .diy-icon-menu5-4 {
  background: url('../img/icon-menu/icons-menu-luojiliucheng-add.png') no-repeat -80px -1px;
}
.main-box .main-right .liucheng-box .diy-icon-menu6-1 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -90px -38px;
}
.main-box .main-right .liucheng-box .diy-icon-menu6-2 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -90px 0px;
}
.main-box .main-right .liucheng-box .diy-icon-menu6-3 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -114px;
}
.main-box .main-right .liucheng-box .diy-icon-menu6-4 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -151px;
}
.main-box .main-right .liucheng-box .diy-icon-menu6-5 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -76px;
}
.main-box .main-right .liucheng-box .diy-icon-menu7-1 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px 0px;
}
.main-box .main-right .liucheng-box .diy-icon-menu7-2 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px -44px;
}
.main-box .main-right .liucheng-box .diy-icon-menu7-3 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px -86px;
}
.main-box .main-right .liucheng-box .diy-icon-menu8-1 {
  background: url('../img/icon-menu/icons-menu-waibujiekou-add.png') no-repeat -72px -1px;
}
.tool .diy-icon-menu1-1 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px 0px;
}
.tool .diy-icon-menu1-2 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -437px;
}
.tool .diy-icon-menu1-3 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -476px;
}
.tool .diy-icon-menu1-4 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -513px;
}
.tool .diy-icon-menu1-5 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -548px;
}
.tool .diy-icon-menu1-6 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -77px -79px;
}
.tool .diy-icon-menu1-7 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -119px;
}
.tool .diy-icon-menu1-8 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -200px;
}
.tool .diy-icon-menu1-9 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -240px;
}
.tool .diy-icon-menu1-10 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -281px;
}
.tool .diy-icon-menu1-11 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -320px;
}
.tool .diy-icon-menu1-12 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -360px;
}
.tool .diy-icon-menu1-13 {
  background: url('../img/icon-menu/icon-left-menu-1.png') no-repeat -79px -400px;
}
.tool .diy-icon-menu1-14 {
  background: url('../img/icon-menu/icons-menu-liulanqi-add.png') no-repeat -79px -40px;
}
.tool .diy-icon-menu1-15 {
  background: url('../img/icon-menu/icons-menu-liulanqi-add.png') no-repeat -81px -1px;
}
.tool .diy-icon-menu2-1 {
  background: url('../img/icon-menu/icon-left-menu-2.png') no-repeat -75px -35px;
}
.tool .diy-icon-menu2-2 {
  background: url('../img/icon-menu/icon-left-menu-2.png') no-repeat -75px -72px;
}
.tool .diy-icon-menu3-1 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -81px 0px;
}
.tool .diy-icon-menu3-2 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -79px -38px;
}
.tool .diy-icon-menu3-3 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -73px;
}
.tool .diy-icon-menu3-4 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -110px;
}
.tool .diy-icon-menu3-5 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -79px -146px;
}
.tool .diy-icon-menu3-6 {
  background: url('../img/icon-menu/icon-left-menu-3.png') no-repeat -80px -184px;
}
.tool .diy-icon-menu3-7 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -80px -37px;
}
.tool .diy-icon-menu3-8 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -80px -1px;
}
.tool .diy-icon-menu3-9 {
  background: url('../img/icon-menu/icons-menu-canshuchuli-add.png') no-repeat -79px -70px;
}
.tool .diy-icon-menu4-1 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -84px 0px;
}
.tool .diy-icon-menu4-2 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -83px -36px;
}
.tool .diy-icon-menu4-3 {
  background: url('../img/icon-menu/icon-left-menu-4.png') no-repeat -84px -74px;
}
.tool .diy-icon-menu5-1 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -83px 0px;
}
.tool .diy-icon-menu5-2 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -80px -37px;
}
.tool .diy-icon-menu5-3 {
  background: url('../img/icon-menu/icon-left-menu-5.png') no-repeat -84px -74px;
}
.tool .diy-icon-menu5-4 {
  background: url('../img/icon-menu/icons-menu-luojiliucheng-add.png') no-repeat -80px -1px;
}
.tool .diy-icon-menu6-1 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -90px -38px;
}
.tool .diy-icon-menu6-2 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -90px 0px;
}
.tool .diy-icon-menu6-3 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -114px;
}
.tool .diy-icon-menu6-4 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -151px;
}
.tool .diy-icon-menu6-5 {
  background: url('../img/icon-menu/icon-left-menu-6.png') no-repeat -91px -76px;
}
.tool .diy-icon-menu7-1 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px 0px;
}
.tool .diy-icon-menu7-2 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px -44px;
}
.tool .diy-icon-menu7-3 {
  background: url('../img/icon-menu/icon-left-menu-7.png') no-repeat -91px -86px;
}
.tool .diy-icon-menu8-1 {
  background: url('../img/icon-menu/icons-menu-waibujiekou-add.png') no-repeat -72px -1px;
}
