<div class="main-con-item">
    <p>
        <b>加密字符串</b>(必填，)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="text">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>密钥</b>(选填，)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="key">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    
    <p>
        <b>输出参数命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>
</div>

<input type="hidden" class="item-type" name="encrypt_aes">
