<div class="main-con-item">
    <p>
        <b>JSON对象</b>(必填，)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="text">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>是否自闭合空标签</b>（选填，）
    </p>
    <div class="input-box">
        <p class="radio-item">
            <label>
                <input type="radio" name="isSelfClosing" value="true" checked>是
            </label>
            <label>
                <input type="radio" name="isSelfClosing" value="false">否
            </label>
        </p>
    </div>
    <p>
        <b>输出参数命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>
</div>

<input type="hidden" class="item-type" name="json2xml">
