<div class="main-con-item">
    <button type="button" class="CScapture">捕获桌面元素</button>
    <div class="input-box">
        <p>
            <b>元素进程名称</b>
            <b>：</b>
        </p>
        <input type="text" name="processName">
        <p>
            <b>元素窗体名称</b>
            <b>：</b>
        </p>
        <input type="text" name="winTitle">
        <p>
            <b>元素下标</b>
            <b>：</b>
        </p>
        <input type="text" name="path">

    </div>
    <div class="input-box">
        <p>
            <b>元素相对坐标</b>
            <b>：</b>
        </p>
        <input type="text" name="relative">
    </div>
    <input type="hidden" class="item-type" name="CSMoveForRelative">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>将鼠标移动到指定位置
    </p>
</div>