<div class="main-con-item" style="overflow: hidden;">
    <p>
        <b>选择要删除的文件：</b>
    </p>
    <div class="input-box">
        <button type="button" onclick="saveOriginPath.click();">点击选择文件</button>
        <input type="text" class="form-control" id="originPath" name="file" />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="file" id="saveOriginPath" class="hideFile" onchange="this.value==''?originPath.value=originPath.value:originPath.value=gePathVal(this,true)"
        />
    </div>
    <input type="hidden" class="item-type" name="fs_delete">
    <!-- <i class="toggleType"></i> -->
</div>

<div class="liucheng-item-tips">

    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>删除文件：</p>

</div>