<!--TODO 移动文件，不同盘符间，暂时不能操作-->
<div class="main-con-item" style="overflow: hidden;">
    <p>
        <b>选择要移动的文件：</b>
    </p>
    <div class="input-box">
        <button type="button" onclick="saveOriginPath.click();">点击选择文件</button>
        <input type="text" class="form-control" id="originPath" name="file" />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="file" id="saveOriginPath" class="hideFile" onchange="this.value==''?originPath.value=originPath.value:originPath.value=gePathVal(this,true)"
        />
    </div>
    <p>
        <b>选择移动到的目录：</b>
    </p>
    <div class="input-box">
        <button type="button" onclick="saveOriginPath2.click();">点击选择目录</button>
        <input type="text" class="form-control" id="originPath2" name="directory" />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="file" id="saveOriginPath2" class="hideFile" onchange="this.value==''?originPath2.value=originPath2.value:originPath2.value=gePathVal(this,true)"
            webkitdirectory/>
    </div>
    <input type="hidden" class="item-type" name="fs_move">
    <!-- <i class="toggleType"></i> -->
</div>

<div class="liucheng-item-tips">

    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>创建目录：</p>

</div>