<div class="main-con-item">

    <div class="input-box">
        <p>
            <b>选择复制黏贴操作</b>
            <b>：</b>
        </p>
        <p class="radio-item radio-item-2">
            <label>
                <input type="radio" name="ctrlCOrV" value="ctrlC" checked>复制操作
            </label>
            <label>
                <input type="radio" name="ctrlCOrV" value="ctrlV">黏贴操作
            </label>
        </p>
    </div>
    <input type="hidden" class="item-type" name="copyOrpasteDo">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>将进行复制或黏贴操作
    </p>
</div>