<div class="main-con-item">
    <!--<button type="button" class="CScapturePos">捕获桌面元素(postion)</button>-->
    <p>
        鼠标拖动开始位置：
    </p>
    <div class="input-box">

        <input type="text" name="rectangle_start" placeholder="x,y">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <p>
        鼠标拖动结束位置：
    </p>
    <div class="input-box">
        <input type="text" name="rectangle_end" placeholder="x,y">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>

    <input type="hidden" class="item-type" name="draftingMouse">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>鼠标脱拽；
    </p>
</div>