<div class="main-con-item">
    <div class="input-box">
        <p>
            <b>点击类型</b>
            <b>：</b>
        </p>
        <p class="radio-item radio-item-4">
            <label>
                <input type="radio" name="mouseClickType" value="leftClick" checked>左键单击
            </label>
            <label>
                <input type="radio" name="mouseClickType" value="midClick">中键单击
            </label>
            <label>
                <input type="radio" name="mouseClickType" value="rightClick">右键单击
            </label>
            <label>
                <input type="radio" name="mouseClickType" value="leftDbclick">左键双击
            </label>
        </p>
    </div>
    <input type="hidden" class="item-type" name="mouseClick">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>将进行鼠标点击操作
    </p>
</div>