<div class="main-con-item">
    <p>
        <b>元素对象</b>(csPath)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="Element">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>检索类型：</b>
    </p>
    <div class="input-box">
        <p class="radio-item radio-item-4">
            <label>
                <input type="radio" name="eventType" value="name" checked>name
            </label>
            <label>
                <input type="radio" name="eventType" value="value">value
            </label>
        </p>
    </div>
    <p>
        <b>元素名称：</b>
    </p>
    <div class="input-box">
        <input type="text" name="elName">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>输出变量命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="shangdongMenu">
</div>