<div class="main-con-item">
    <button type="button" class="capture-IE8">捕获IE8浏览器页面元素</button>
    <p>
        <b>元素路径</b>(xpath)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="xpath">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>输出参数命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="ie8_getVCode">
</div>
<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>获取验证码内容，输出新参数</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">Array</b>"</p>

</div>