<div class="main-con-item">
    <button type="button" class="capturePos">捕获页面元素（Pos）</button>
    <div class="input-box">
        <p>
            <b>元素位置</b>(Pos)
            <b>：</b>
        </p>
        <input type="text" name="elementPos">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <div class="input-box">
        <p>
            <b>输出变量命名：</b>
        </p>
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="elementPos">
</div>