<div class="main-con-item">
    <div class="input-box">
        <p>
            <b>打开网址</b>(如：https://www.baidu.com)
            <b>：</b>
        </p>
        <input type="text" name="url">
        <input type="hidden" class="item-type" name="open">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
</div>
<div class="liucheng-item-tips">

    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>打开网址："
        <b class="user-input-text tips-url"></b>"</p>

</div>