<div class="main-con-item">
    <button type="button" class="capture">捕获页面元素</button>
    <span class="goon">
        <input type="checkbox" checked>是否跟随脚本执行</span>
    <div class="input-box">
        <p>
            <b>元素路径</b>(xpath)
            <b>：</b>
        </p>
        <input type="text" name="xpath">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>

    <div class="input-box">
        <p>
            <b>选择超时时间:(毫秒)</b>
        </p>
        <input type="text" name="waitTime" placeholder="选填，默认20秒">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>

    <input type="hidden" class="item-type" name="waitFindELe">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>将获取网页元素的属性值，并输出为新参数</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">String</b>"</p>
</div>