<div class="main-con-item">
    <button type="button" class="capture-iframe">选择目标框架</button>
    <span class="goon">
        <input type="checkbox" checked>是否跟随脚本执行</span>
    <p>
        <b>框架元素路径</b>(xpath)
        <b>：</b>
        <label for="openNew">
            <input type="checkbox" name="openNew" id="openNew" value="true" checked>新标签页</label>

    </p>
    <div class="input-box">
        <input type="text" name="xpath" id="xpath">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>

    <input type="hidden" class="item-type" name="openIframe">
</div>
<div class="liucheng-item-tips">
    <!-- <p class="in-parameter" title=""><i class="icon-tips-in"></i><em>：</em>"<b class="user-input-text tips-xpathAlike"></b>","<b class="font-in-paramter-type">Xpath</b>"</p>
<p class="dom-active-dec" title=""><i></i><em>：</em>捕获页面元素获取元素"<b class="user-input-text tips-xpathAlike"></b>","<b class="font-in-paramter-type">Xpath</b>"</p> -->
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>打开框架</p>
</div>