<div class="main-con-item">
    <span>获取当前页面的URL URI的功能</span>
    <div class="input-box">
        <p>
            <b>输出变量命名：</b>
        </p>
        <input type="text" name="rename">
        <input type="hidden" class="item-type" name="getPageURL">
    </div>
</div>
<div class="liucheng-item-tips">
    <!-- <p class="in-parameter" title=""><i class="icon-tips-in"></i><em>：</em>"<b class="user-input-text tips-xpath"></b>","<b class="font-in-paramter-type">Xpath</b>"</p>
<p class="dom-active-dec" title=""><i></i><em>：</em>捕获页面元素获取元素"<b class="user-input-text tips-xpath"></b>","<b class="font-in-paramter-type">Xpath</b>"</p> -->
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>获取当前页面的URL URI，输出新变量</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">Array</b>"</p>

</div>