<div class="main-con-item">
    <button type="button" class="capture">捕获页面元素</button>
    <!-- <div class="input-box"> -->
    <div class="input-box">
        <p>
            <b>元素路径</b>(xpath)
            <b>：</b>
        </p>
        <input type="text" name="xpath">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>

    <div class="input-box">
        <p>
            <b>输出变量命名：</b>
        </p>
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="getAttributeName">
    <!-- </div> -->
</div>
<div class="liucheng-item-tips">
    <!-- <p class="in-parameter" title=""><i class="icon-tips-in"></i><em>：</em>"<b class="user-input-text tips-xpathAlike"></b>","<b class="font-in-paramter-type">Xpath</b>"</p>
<p class="dom-active-dec" title=""><i></i><em>：</em>捕获页面元素获取元素"<b class="user-input-text tips-xpathAlike"></b>","<b class="font-in-paramter-type">Xpath</b>"</p> -->
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>将获取网页元素的属性值，并输出为新变量</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">String</b>"</p>

</div>