<div class="main-con-item" menu_name="import">
    <div class="input-box">
        <p>
            <b>文件名</b>
        </p>
        <input type="text" class="form-control" name="fileName" placeholder="请输入文件名" />
        <p>
            <b>调试用例</b>
        </p>
        <textarea type="text" class="form-control" name="debuggerData" placeholder="请输入测试用例" />
        <p>
            <b>输出变量命名：</b>
        </p>
        <input type="text" name="rename">
        <br/>
    </div>
    <input type="hidden" class="item-type" name="semantic">
</div>

<div class="liucheng-item-tips">
    <!-- <p class="in-parameter" title=""><i class="icon-tips-in"></i><em>：</em>"<b class="tips-url"></b>"</p>
    <p class="dom-active-dec" title=""><i></i><em>：</em>上传文件："<b class="tips-url"></b>"</p> -->
    <!-- <p class="in-parameter" title=""><i class="icon-tips-in"></i><em>：</em>"<b class="user-input-text tips-filePath"></b>","<b class="font-in-paramter-type">String</b>"</p>
    <p class="dom-active-dec" title=""><i></i><em>：</em>上传文件："<b class="user-input-text tips-filePath"></b>","<b class="font-in-paramter-type">String</b>"</p> -->

    <!-- <p class="dom-active-dec" title=""><i class=""></i><em class="">：</em>读取所传文件内容："<b class="font-out-paramter"></b>","<b class="font-out-paramter-type">Array[Array]</b>"</p> -->
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>将读取所传文件的内容生成一个二维数组，并输出新变量</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">Array[Array]</b>"</p>
</div>