<div class="main-con-item" menu_name="import">
    <div class="input-box">
        <p>
            <b>文件名</b>
        </p>
        <button type="button" onclick="savefilePath.click();">点击选择文件</button>
        <div class="input-box">
            <input type="text" class="form-control" id="filePath" name="filePath" placeholder="点击获取上传文件" />

            <ul class="common-list parameters-can-select"></ul>
            <i class="xiala-icon parameters"></i>
            <i class="toggleType"></i>

            <input type="file" id="savefilePath" class="hideFile" onchange="this.value==''?filePath.value=filePath.value:filePath.value=gePathVal(this,true)"
                accept="text/plain,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword">
        </div>
    </div>
    <p>
        <b>业务描述：</b>
    </p>
    <div class="input-box">
        <input type="text" class="form-control" name="businessDescription" placeholder="请输入业务描述" />
    </div>
    <p>
        <b>输出变量命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
        <br/>
    </div>
    <input type="hidden" class="item-type" name="importTextFile">
</div>

</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>将读取所传文件的内容生成一个字符串，并输出新变量</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">String</b>"</p>
</div>