<div class="main-con-item">
    <button type="button" class="CScapture">捕获目标窗口标志性元素</button>
    <div class="input-box">
        <p>
            <b>目标元素窗体名称</b>
            <b>：</b>
        </p>
        <input type="text" name="winTitle">
        <p>
            <b>目标元素下标</b>
            <b>：</b>
        </p>
        <input type="text" name="path">

        <input type="hidden" class="item-type" name="ActuatorForVerify">
    </div>
    <div class="input-box">
        <p>
            <b>目标元素名称</b>
            <b>：</b>
        </p>
        <input type="text" name="name">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <div class="input-box">
        <p>
            <b>目标元素坐标</b>(x,y)
            <b>：</b>
        </p>
        <input type="text" name="rectangle">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>

</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>将鼠标移动到指定位置
    </p>
</div>