<div class="main-con-item">
    <button type="button" class="CScaptureNew">捕获桌面元素</button>
    <div class="input-box">
        <p>
            <b>元素进程名称</b>
            <b>：</b>
        </p>
        <input type="text" name="processName">
        <p>
            <b>元素窗体名称</b>
            <b>：</b>
        </p>
        <input type="text" name="winTitle">
        <p>
            <b>元素下标</b>
            <b>：</b>
        </p>
        <input type="text" name="csPath">
        <p>
            <b>元素名称</b>
            <b>：</b>
        </p>
        <input type="text" name="elName">
        <p>
            <b>元素值</b>
            <b>：</b>
        </p>
        <input type="text" name="elValue">
        <p>
            <b>元素类型</b>
            <b>：</b>
        </p>
        <input type="text" name="elType">
        <p>
            <b>元素坐标</b>(x,y)
            <b>：</b>
        </p>
        <input type="text" name="pos">
        <p>
            <b>元素相对中心坐标</b>(x,y)
            <b>：</b>
        </p>
        <input type="text" name="offCenterPos">
        <p>
            <b>元素相对左上坐标</b>(x,y)
            <b>：</b>
        </p>
        <input type="text" name="offLeftTopPos">
        <p>
            <b>元素相对左下坐标</b>(x,y)
            <b>：</b>
        </p>
        <input type="text" name="offLeftDownPos">
        <p>
            <b>元素相对右上坐标</b>(x,y)
            <b>：</b>
        </p>
        <input type="text" name="offRightTopPos">
        <p>
            <b>元素相对右下坐标</b>(x,y)
            <b>：</b>
        </p>
        <input type="text" name="offRightDownPos">
        <p>
            <b>元素宽度</b>(width)
            <b>：</b>
        </p>
        <input type="text" name="width">
        <p>
            <b>元素高度</b>(height)
            <b>：</b>
        </p>
        <input type="text" name="height">
    </div>
    <div class="input-box">
        <p>
            <b>输出为变量：</b>
        </p>
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="getCSElement">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>获取cs元素对象信息
    </p>
</div>