<div class="main-con-item">
    <p>
        <b>元素对象</b>(csPath)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="Element">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <div class="input-box">
        <p>
            <b>选择类型：</b>
        </p>
        <p class="radio-item">
            <label>
                <input type="radio" name="eventType" value="first" checked>first</label>
            <label>
                <input type="radio" name="eventType" value="prev">prev</label>
            <label>
                <input type="radio" name="eventType" value="next">next</label>
            <label>
                <input type="radio" name="eventType" value="last">last</label>
        </p>
    </div>
    <p>
        <b>输出变量命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="getCSBrotherElement">
</div>