<div class="main-con-item">
    <p>
        <b>元素对象</b>(csPath)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="Element">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>输入类型</b>
        <b>：</b>
    </p>
    <div class="input-box">
        <p class="radio-item radio-item-4">
            <label>
                <input type="radio" name="inputType" value="keybord" checked>键盘输入
            </label>
            <label>
                <input type="radio" name="inputType" value="input">直接输入
            </label>
            <label>
                <input type="radio" name="inputType" value="ctrlC">复制黏贴
            </label>
        </p>
    </div>
    <p>
        <b>填入内容</b>(需要填入的内容)
        <b>：</b>
    </p>
    <div class="main-con-item">
        <div class="input-box">
            <input type="text" name="input">
            <ul class="common-list parameters-can-select"></ul>
            <i class="toggleType"></i>
            <i class="xiala-icon parameters"></i>
        </div>
    </div>
    <input type="hidden" class="item-type" name="CSElemetInput">
</div>