<div class="main-con-item">
    <p>
        <b>元素对象</b>(csPath)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="Element">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>点击类型</b>
        <b>：</b>
    </p>
    <div class="input-box">
        <p class="radio-item radio-item-4">
            <label>
                <input type="radio" name="mouseClickType" value="leftClick" checked>左键单击
            </label>
            <label>
                <input type="radio" name="mouseClickType" value="midClick">中键单击
            </label>
            <label>
                <input type="radio" name="mouseClickType" value="rightClick">右键单击
            </label>
            <label>
                <input type="radio" name="mouseClickType" value="leftDbclick">左键双击
            </label>
        </p>
    </div>
    <input type="hidden" class="item-type" name="CSElemetClick">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>将进行移动鼠标点击操作
    </p>
</div>