<div class="main-con-item">
    <p>满足条件时跳出循环</p>
    <div class="input-boxs">
        <div class="input-box if-else-item-left">
            <input type="text" name="breakValue">
            <ul class="common-list parameters-can-select"></ul>
            <i class="toggleType" style="top:0px"></i>
            <i class="xiala-icon parameters" style="top:0px"></i>
        </div>
        <div class="input-box if-else-item-mid">
            <input type="text" name="op" readonly>
            <ul class="common-list">
                <li class="if-else-selection">大于</li>
                <li class="if-else-selection">大于等于</li>
                <li class="if-else-selection">等于</li>
                <li class="if-else-selection">不等于</li>
                <li class="if-else-selection">小于</li>
                <li class="if-else-selection">小于等于</li>
            </ul>
            <i class="xiala-icon if-else-item-xia xia-op"></i>
        </div>
        <div class="input-box if-else-item-right">
            <input type="text" name="breakCondition">
            <ul class="common-list parameters-can-select"></ul>
            <i class="toggleType" style="top:0px"></i>
            <i class="xiala-icon parameters" style="top:0px"></i>
        </div>
    </div>
    <input type="hidden" class="item-type" name="break">
</div>
<div class="liucheng-item-tips">
</div>