<div class="main-con-item">
    <div class="input-box">

        <div class="input-box">
            <p>
                <b>变量名：</b>
            </p>
            <input type="text" name="paramName">
            <i class="xiala-icon parameters"></i>
            <i class="toggleType"></i>
        </div>
        
        <p>
            <b>变量类型</b>
        </p>
        <input type="text" name="typeName">

        
        <i class="toggleType"></i>
    </div>
    <input type="hidden" class="item-type" name="assert_type"/>
</div>
<input type="hidden" name="type" value="assert_type"/>