<div class="main-con-item">
    <div class="input-box">
        <p>
            <b>请输入等待时长</b>(ms)
            <b>：</b>
        </p>
        <input type="text" name="sleep" placeholder="1000">
    </div>
    <input type="hidden" class="item-type" name="waitTime">
</div>
<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="user-input-text tips-sleep"></b>"
    </p>
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>输入等待时间："
        <b class="user-input-text tips-sleep"></b>ms"
    </p>
</div>