<div class="main-con-item">

    <p>
        <b>输出本机IP为变量：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>

    <input type="hidden" class="item-type" name="getIp">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i class=""></i>
        <em class="">：</em>获取本机IP</p>
    <p class="in-parameter" title="">
        <i class="icon-tips-out"></i>
        <em>：</em>"
        <b class="font-out-paramter"></b>","
        <b class="font-out-paramter-type">String</b>"</p>
</div>