<div class="main-con-item">
    <div class="input-box">
        <p>
            <b>登录您的账户：</b>
        </p>
        <div class="input-box">
            <input type="text" name="account" value="" />
            <i class="xiala-icon parameters"></i>
            <i class="toggleType"></i>
        </div>
        <p>
            <b>密码/授权码：</b>
        </p>
        <div class="input-box">
            <input type="text" name="password" value="" />
            <i class="xiala-icon parameters"></i>
            <i class="toggleType"></i>
        </div>
        <p>
            <b>IMap服务器：</b>
        </p>
        <div class="">
            <input type="text" name="host" value="" />
        </div>
        <p>
            <b>端口：</b>
        </p>
        <div class="">
            <input type="text" name="port" value="" />
        </div>


        <p>
            <b>新邮件列表输出变量命名：</b>
        </p>
        <input type="text" name="rename">


        <i class="toggleType"></i>
    </div>
    <input type="hidden" class="item-type" name="confirmReceive">
</div>
<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="font-in-paramter in-paramter-receive"></b>
        <b class="user-input-text tips-receive"></b>","
        <b class="font-in-paramter-type">String</b>","
        <b class="font-in-paramter in-paramter-subject"></b>
        <b class="user-input-text tips-subject"></b>","
        <b class="font-in-paramter-type">String</b>","
        <b class="font-in-paramter in-paramter-html"></b>
        <b class="user-input-text tips-html"></b>","
        <b class="font-in-paramter-type">String</b>"</p>
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>填入收件人，主题和邮件内容，并发送</p>
</div>

