<style>
    .params-item ,.header-item {
        padding-left: 15px;
    }

    .params-item input,.header-item input {
        display: inline-block !important;
        width: 200px !important;
        margin: 0px !important;
    }

    .params-item>div ,.header-item>div {
        position: relative;
        display: inline-block !important;
        width: 200px !important;
        margin: 0px !important;
    }

    .params-item>button ,.header-item>button {
        /* background: transparent!important; */
        line-height: 16px !important;
        font-size: 27px !important;
        vertical-align: middle;
        width: 20px;
    }

    .addH , .addP {
        /* color: chartreuse!important; */
        background: url("../img/icon-button-add.png")no-repeat center !important;
    }

    .addH:active, .addP:active {
        background: url("../img/icon-button-add-click.png")no-repeat center !important;
    }

    .subH, .subP {
        background: url("../img/icon-button-remove.png")no-repeat center !important;
    }

    .subH:active, .subP:active {
        background: url("../img/icon-button-remove-click.png")no-repeat center !important
    }

    .xiala-icon {
        top: 0px !important;
    }

    .cover-box .toggleType {
        top: 0px !important;
    }
</style>


<div class="main-con-item">
    <p>
        <b>选择需要上传的文件：</b>
    </p>
    <div class="input-box">
        <button type="button" onclick="saveOriginPath.click();">点击选择文件</button>
        <input type="text" class="form-control" id="originPath" name="file" />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="file" id="saveOriginPath" class="hideFile" onchange="this.value==''?originPath.value=originPath.value:originPath.value=gePathVal(this,true)"
        />
    </div>
    <p>
        <b>上传地址：</b>
    </p>
    <div class="input-box">
        <input type="text" name="url_upload" />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <p>
        <b>上传参数：</b>
    </p>
    <div class="input-box http-headers stipulation">

        <div class="header-item">
            <div class="input-box">
                <input type="text" name="headerKey1">
                <ul class="common-list parameters-can-select"></ul>
                <i class="toggleType"></i>
                <i class="xiala-icon parameters"></i>
            </div>
            <div class="input-box">
                <input type="text" name="headerValue1">
                <ul class="common-list parameters-can-select"></ul>
                <i class="toggleType"></i>
                <i class="xiala-icon parameters"></i>
            </div>
            <button type="button" class="addH"></button>
            <button type="button" class="subH"></button>
        </div>
    </div>
    <div class="input-box">
        <p>
            <b>结果输出变量命名：</b>
        </p>
        <input type="text" name="rename">
    </div>

    <input type="hidden" class="item-type" name="http_uploadfile">

</div>

<div class="liucheng-item-tips">

    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>创建文件：</p>

</div>

<script>
    $(function () {
        //请求头参数
        let headersTemp=$(".header-item").eq(0).clone(true);

        $(".http-headers").on("click", ".addH", function () {
            let id = parseInt($('[name="headerId"]').val()) + 1;
            console.log("复制id："+id);
            headersTemp.clone(true).find("[name='headerKey1']").attr("name", "headerKey" + id)
                .parent().parent().find("[name='headerValue1']").attr("name", "headerValue" + id)
                .parent().parent().appendTo(".http-headers");
            modal.refreshModal();

            addNewLI();
            $('[name="headerId"]').val(id);
        });

        $(".http-headers").on("click", ".subH", function () {
            $(this).parent().remove();

            $(".header-item").eq(0).find(".subH").hide();
            modal.refreshModal();
            addNewLI()
            let id=parseInt($('[name="headerId"]').val());
            $('[name="headerId"]').val(id-1);
        });
        //请求参数
        let paramsTemp=$(".params-item").eq(0).clone(true);

        $(".http-params").on("click", ".addP", function () {
            let id = parseInt($('[name="parameterId"]').val()) + 1;
            console.log("复制id："+id);
            paramsTemp.clone(true).find("[name='paramsKey1']").attr("name", "paramsKey" + id)
                .parent().parent().find("[name='paramsValue1']").attr("name", "paramsValue" + id)
                .parent().parent().appendTo(".http-params");
            modal.refreshModal();

            addNewLI();
            $('[name="parameterId"]').val(id);
        });

        $(".http-params").on("click", ".subP", function () {
            $(this).parent().remove();

            $(".params-item").eq(0).find(".subH").hide();
            modal.refreshModal();
            addNewLI()
            let id=parseInt($('[name="headerId"]').val());
            $('[name="parameterId"]').val(id-1);
        });

        $(".header-item").eq(0).find(".subH").hide();
        $(".params-item").eq(0).find(".subP").hide();

    });

    function addNewLI() {
        if (modal.$data.editLiuchengItem.isEditExistedItem) {
            newLI($('#' + modal.$data.editLiuchengItem.editItemId))
        } else {
            newLI()
        }
    }
</script>