<div class="main-con-item">

    <div class="input-box">
        <p>
            <b>Host</b>
            <b>：</b>
        </p>
        <input type="text" name="host">
    </div>

    <div class="input-box">
        <p>
            <b>Port</b>
            <b>：</b>
        </p>
        <input type="text" name="port">
    </div>

    <div class="input-box">
        <p>
            <b>开始信号</b>
            <b>：</b>
        </p>
        <input type="text" name="signal">
    </div>
    <div class="input-box">
        <p>
            <b>选择获取变量的类型</b>
            <b>：</b>
        </p>
        <p class="radio-item">
            <label>
                <input type="radio" name="data_type" value="json" checked>json
            </label>
            <label>
                <input type="radio" name="data_type" value="text">text
            </label>
        </p>
    </div>
    <div class="input-box">
        <p>
            <b>输出变量命名：</b>
        </p>
        <input type="text" name="rename">
    </div>

    <input type="hidden" class="item-type" name="socketApi" value="1">
</div>

<div class="liucheng-item-tips">
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>socket请求
    </p>
</div>