<div class="main-con-item">

    <div class="input-box">
        <p>
            <b>Host</b>
            <b>：</b>
        </p>
        <input type="text" name="host">
    </div>
    <div class="input-box">
        <p>
            <b>Port</b>
            <b>：</b>
        </p>
        <input type="text" name="port">
    </div>
    <div class="input-box">
        <p>
            <b>username</b>
            <b>：</b>
        </p>
        <input type="text" name="username">
    </div>
    <div class="input-box">
        <p>
            <b>password</b>
            <b>：</b>
        </p>
        <input type="text" name="password">
    </div>
    <div class="input-box">
        <p>
            <b>输出变量命名：</b>
        </p>
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="telnetConnect">
</div>