<div class="main-con-item">
    <div class="input-box">
        <p>
            <b>选择telnet Client</b>
            <b>：</b>
        </p>
        <input type="text" name="telnetClient">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <div class="input-box">
        <p>
            <b>telnet命令</b>
            <b>：</b>
        </p>
        <input type="text" name="cmdStr">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <div class="input-box">
        <p>
            <b>输出变量命名：</b>
        </p>
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="telnetWrite">
</div>