<div class="main-con-item">
    <p>
        <b>选择Excel文件对象：</b>
    </p>
    <div class="input-box excel-about">
        <input type="text" class="form-control excel-object" name="excelObject"  />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="hidden" name="excelKey" class="excel-key">
    </div>

    <p>
        <b>选择工作表：</b>
        <label for="allSheet"><input type="checkbox" name="allSheet" id="allSheet" value="true">全部工作表</label>
    </p>
    <div class="input-box">
        <input type="text" name="sheetName" placeholder="工作表名称">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>

    <p>
        <b>输出变量命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="excelReadSheet">

</div>

<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="font-in-paramter in-paramter-valueParam"></b>","
        <b class="font-in-paramter-type">String</b>"</p>
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>读取工作表"</p>
</div>