<div class="main-con-item">
    <p>
        <b>选择Excel文件对象：</b>
    </p>
    <div class="input-box excel-about">
        <input type="text" class="form-control excel-object" name="excelObject"  />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="hidden" name="excelKey" class="excel-key">
    </div>
    <p>
        <b>工作表名称</b>
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="sheetName" >
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>

    <p>
        <b>读取位置</b>(行,列)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rectangle" placeholder="行,列">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>

    <div class="input-box">
        <p>
            <b>选择输出结果类型</b>
            <b>：</b>
        </p>
        <p class="radio-item">
            <label>
                <input type="radio" name="resType" value="object" checked>单元格对象
            </label>
            <label>
                <input type="radio" name="resType" value="text">文本
            </label>
        </p>
    </div>
    <p>
        <b>输出变量命名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rename">
    </div>
    <input type="hidden" class="item-type" name="excelReadCell">

</div>

<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="font-in-paramter in-paramter-valueParam"></b>","
        <b class="font-in-paramter-type">String</b>"</p>
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>读取单元格"</p>
</div>