<div class="main-con-item">
    <p>
        <b>选择Excel文件对象：</b>
    </p>
    <div class="input-box excel-about">
        <input type="text" class="form-control excel-object" name="excelObject"  />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="hidden" name="excelKey" class="excel-key">
    </div>
    <p>
        <b>工作表名称</b>
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="sheetName" >
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <p>
        <b>新的工作表名称</b>
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="newSheetName" >
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>

    <input type="hidden" class="item-type" name="excelChangeSheet">

</div>

<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="font-in-paramter in-paramter-valueParam"></b>","
        <b class="font-in-paramter-type">String</b>"</p>
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>将接受变量写入到目标路径的数据表格中"</p>
</div>
