<div class="main-con-item">

    <div class="input-box">
        <p>
            <b>写入类型：</b>
        </p>
        <p class="radio-item">
            <label>
                <input type="radio" name="writeType" value="w+" checked>覆盖</label>
            <label>
                <input type="radio" name="writeType" value="a+">添加</label>
        </p>
    </div>
    <p>
        <b>需要保存的数据名：</b>
    </p>
    <div class="input-box">
        <input type="text" name="valueParam">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>文件名称：</b>
    </p>
    <div class="input-box">
        <input type="text" name="filename">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>
    <p>
        <b>保存的路径：</b>
    </p>
    <div class="input-box">
        <button type="button" onclick="saveOriginPath.click();">点击获取保存路径</button>
        <input type="text" class="form-control" id="originPath" name="targetPath" />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="file" id="saveOriginPath" class="hideFile" onchange="this.value==''?originPath.value=originPath.value:originPath.value=gePathVal(this,true)"
               webkitdirectory />

    </div>
    <div class="input-box">
        <p>
            <b>输出文件全路径名为参数：</b>
        </p>
        <input type="text" name="rename">
    </div>
    <label for="isSaveHistory">
        <input type="checkbox" name="isSaveHistory" id="isSaveHistory" value="true">保存到历史任务</label>
    <div class="input-box save-history" style="display: none;">
        <p>
            <b>历史文件别名：</b>
        </p>
        <input type="text" name="newFileName" placeholder="保存历史任务">
    </div>
    <input type="hidden" class="item-type" name="writeCsvFile">
</div>


<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="font-in-paramter in-paramter-valueParam"></b>","
        <b class="font-in-paramter-type">String</b>"</p>
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>将接受参数写入到目标路径的数据表格中"</p>
</div>