<div class="main-con-item">
    <p>
        <b>需要写入的变量：</b>
    </p>
    <div class="input-box">
        <input type="text" name="valueParam" placeholder="一维数组">
        <ul class="common-list parameters-can-select"></ul>
        <i class="toggleType"></i>
        <i class="xiala-icon parameters"></i>
    </div>

    <p>
        <b>选择Excel文件对象：</b>
    </p>
    <div class="input-box excel-about">
        <input type="text" class="form-control excel-object" name="excelObject"  />
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
        <input type="hidden" name="excelKey" class="excel-key">
    </div>
    <p>
        <b>工作表名称：</b>
    </p>
    <div class="input-box">
        <input type="text" name="sheetName" >
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>
    <p>
        <b>写入类型：</b>
    </p>
    <div class="input-box">
        <p class="radio-item">
        <label for="isBlod">
            <input type="radio" name="rowCol" id="isBlod" value="row" checked>行</label>
        <label for="isItalic">
            <input type="radio" name="rowCol" id="isItalic" value="col">列</label>
        </p>
    </div>

    <p>
        <b>写入位置</b>(行或者列)
        <b>：</b>
    </p>
    <div class="input-box">
        <input type="text" name="rectangle" placeholder="行或者列">
        <ul class="common-list parameters-can-select"></ul>
        <i class="xiala-icon parameters"></i>
        <i class="toggleType"></i>
    </div>


    <input type="hidden" class="item-type" name="excelWriteRowCol">
</div>

<div class="liucheng-item-tips">
    <p class="in-parameter" title="">
        <i class="icon-tips-in"></i>
        <em>：</em>"
        <b class="font-in-paramter in-paramter-valueParam"></b>","
        <b class="font-in-paramter-type">String</b>"</p>
    <p class="dom-active-dec" title="">
        <i></i>
        <em>：</em>写入行列数据"</p>

</div>